body{
 background-color:background: #2A7B9B;
background: linear-gradient(90deg, rgba(42, 123, 155, 1) 14%, rgba(37, 199, 209, 1) 31%, rgba(102, 179, 179, 1) 65%, rgba(66, 153, 137, 1) 94%);;
color:cadetblue;
font-size: 50px;
height: 100vh;
}

.cabecalho{
  background-image: url(./img/);
  background-repeat: no-repeat;
}

.cabecalho-img{
 width: 50%;
}